<ion-view title="Compose your story" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="composeYourStory-form3" class="list">
      <ion-toggle toggle-class="toggle-stable" ng-checked="true" id="composeYourStory-toggle4">Share with everyone</ion-toggle>
      <label class="item item-input item-stacked-label" id="composeYourStory-input5">
        <input type="text" placeholder="Write post..">
      </label>
    </form>
    <div id="composeYourStory-button-bar3" class="button-bar">
      <button id="composeYourStory-button20" class="button button-stable  button-block icon ion-ios-camera-outline"></button>
      <button id="composeYourStory-button21" class="button button-stable  button-block icon ion-android-add"></button>
      <button id="composeYourStory-button23" class="button button-stable  button-block icon ion-android-locate"></button>
    </div>
  </ion-content>
</ion-view>