<ion-view view-title="Login">
    <ion-content class="has-header">
        <form name="login" ng-submit="login()">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <button class="button button-block button-dark" type="submit">
            Login
            </button>

            <button class="button button-block button-dark" ui-sref="tabsController.register">
            Join the Circle
            </button>
            </form> 
        </div>
    </ion-content>
</ion-view>
