<ion-view view-title="Stories">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/1OhEY0DkSuKAfly3oweT_motorcycle_touring_india.jpg">
                <h2>Akshay Prakash</h2>
                <p>13 Jan 2017</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/W0WGkaXcT9OkYjWc1F1x_bhutan_ride.jpg">
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
            <div class="item item-avatar">
                <img src="img/zNHrBB8SuuI9PKF4o60Q_himalayan_ride.jpg">
                <h2>Arun Venkatesh</h2>
                <p>11 Jan 2017</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/8jTow4GjRRaC3BMc1bgj_chikmaglur_ride.jpg">
                <p>
                    <a href="#" class="subdued">11 Like</a>
                    <a href="#" class="subdued">15 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
            <div class="item item-avatar">
                <img src="img/7uUkl6ISKog1audqxyZg_ladakh_ride.jpg">
                <h2>Aamir</h2>
                <p>10 Jan 2017</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/7uUkl6ISKog1audqxyZg_ladakh_ride.jpg">
                <p>
                    <a href="#" class="subdued">21 Like</a>
                    <a href="#" class="subdued">6 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
            <div class="item item-avatar">
                <img src="img/7Ef478XMQ42yFqdh03lZ_chikmaglur_ride.jpg">
                <h2>Kushal</h2>
                <p>8 Jan 2017</p>
                <p>Rain ride to the western ghats :)</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/7Ef478XMQ42yFqdh03lZ_chikmaglur_ride.jpg">
                <p>
                    <a href="#" class="subdued">21 Like</a>
                    <a href="#" class="subdued">6 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
            <div class="item item-avatar">
                <img src="img/0rF2pXrtRsGVU3YDtqrU_monsoon_ride.jpg">
                <h2>Vikas</h2>
                <p>8 Jan 2017</p>
                <p>Kudremukh ride</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/0rF2pXrtRsGVU3YDtqrU_monsoon_ride.jpg">
                <p>
                    <a href="#" class="subdued">21 Like</a>
                    <a href="#" class="subdued">6 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>